body, h1, h2, h3, h4, h5, h6, a, ul, li {
  margin: 0;
  padding: 0; }

article img {
  max-width: 300px; }

li {
  list-style-type: none; }

h1 {
  text-align: center;
  font-family: "bree-serif", sans-serif; }

h3 {
  font-family: "franklin-gothic-urw-cond", sans-serif; }

.list {
  margin-top: 20%; }

h3 {
  display: inline;
  vertical-align: super;
  line-height: 1em; }

.updateListItem {
  vertical-align: super;
  width: 60%;
  height: 28px; }

article {
  display: flex;
  justify-content: space-between; }

a {
  text-decoration: none;
  font-family: "franklin-gothic-urw-cond", sans-serif;
  font-size: 20px;
  padding-right: 20px;
  color: black; }
  a:hover {
    color: red;
    text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:focus {
    text-decoration: none;
    color: black; }

.complete {
  text-decoration: line-through; }

.editItem {
  text-align: left; }

.editItem {
  display: none; }

.show {
  display: block; }
