$head-font: "bree-serif",sans-serif;
$list-font:  "franklin-gothic-urw-cond",sans-serif;


body, h1, h2, h3, h4, h5, h6, a, ul, li {
  margin: 0;
  padding: 0;
}

article img {
  max-width: 300px;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
  font-family: $head-font;

}


h3 {
  font-family: $list-font;
}

.list {
  margin-top: 20%;
}
//BUTTONS

h3, .tempBtns {
  display: inline;
  vertical-align: top;
}

.tempBtns {
float: right;
}

a {
  text-decoration: none;
  font-family: $list-font;
  font-size: 20px;
  padding-right: 20px;
  color: black;
  &:hover {
    color: red;
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    color: black;
  }
}

.complete {
  text-decoration: line-through;
}



//JQUERY

.editItem {
  display: none;
}


.show {
 display: block;

}
